<div class="container-fluid mt-2">

<div>
  <div class="d-flex justify-content-between">
    <mat-form-field class="ml-3">
      <mat-label>Users</mat-label>
      <mat-select (selectionChange)="selected($event)" [value]="selectedData">
        <mat-option *ngFor="let list of filterList" [value]="list.value" >
          {{list.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle color="primary" #toggle [checked]="checked"(change)="onChange($event)" class="font-weight-bold">View Users</mat-slide-toggle>
  </div>

  <div class="col-1">
    <img width="40px" src="/assets/img/excel.svg" alt="excel downloader" (click)="downloadAsExcel()">
  </div>
    <!-- Table is to be here -->
    <!-- [ngStyle]="{'display': tableDataLoaded ? 'block' : 'none' }"   -->
      <div #matexcel class="table-container mat-elevation-z8">
      <table #excel mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
     
        <!-- Position Column -->
        <ng-container matColumnDef="Serial">
          <th mat-header-cell *matHeaderCellDef>Serial</th>
          <td class ="text-lowercase" mat-cell *matCellDef="let element"> {{element.serial}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td class ="text-lowercase" mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="First Name">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td class ="text-lowercase" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Last Name">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td class ="text-lowercase"  mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Role Name">
          <th mat-header-cell *matHeaderCellDef>Role Name</th>
          <td class ="text-lowercase"  mat-cell *matCellDef="let element"> {{element.roles[0].roleName.split(".")[1]}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Status" *ngIf="!clearAction">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td class ="text-lowercase" mat-cell *matCellDef="let element" [ngStyle]="{'color': element.approvalStatus == 'Y' || element.approvalStatus == 'y' ? 'green' : element.rejectStatus == 'Y' ? 'red' : '#d1d40e'}"> {{element.approvalStatus == 'Y' || element.approvalStatus == 'y' ? 'Approved' : element.rejectStatus == 'Y' ? 'Rejected' : 'Pending'}} </td>
        </ng-container>

        <ng-container matColumnDef="Status" *ngIf="clearAction">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td class ="text-lowercase" mat-cell *matCellDef="let element" [ngStyle]="{'color': element.rejectStatus == 'Y' || element.rejectStatus == 'y' ? 'red' : 'green'}"> {{element.rejectStatus == 'Y' || element.approvalStatus == 'y' ? 'Rejected' : 'Not Rejected'}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action" *ngIf = "doneAction && !clearAction" class="d-flex justify-content-between">
          <th mat-header-cell *matHeaderCellDef> Action </th>
         <td mat-cell *matCellDef="let element" >
          <button mat-mini-fab color="white" (click)="openDialog(element.userId)" ><mat-icon>done</mat-icon></button>
          <button mat-mini-fab color="white" class="ml-2"(click)="openrejectDialog(element.userId)"><mat-icon>clear</mat-icon></button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Action" *ngIf = "clearAction && !doneAction" class="d-flex justify-content-between">
          <th mat-header-cell *matHeaderCellDef> Action </th>
         <td mat-cell *matCellDef="let element" >
          <button mat-mini-fab color="white" (click)="openDialog(element.userId)" ><mat-icon>done</mat-icon></button>
          <!-- <button mat-mini-fab color="white" class="ml-2"(click)="openrejectDialog(element.userId)"><mat-icon>clear</mat-icon></button> -->
          
        </ng-container>

        <ng-container matColumnDef="Action" *ngIf = "!doneAction && !clearAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
         <td mat-cell *matCellDef="let element" > <button class="btn btn-sm btn-primary btn-color" (click)="openDialog2(element.userId)">Details</button>
          <button mat-mini-fab color="white" class="ml-2"(click)="openEditDialog(element.userId)"><mat-icon>edit</mat-icon></button>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      
      </table>

      <div *ngIf="dataSource.data.length === 0" class="d-flex justify-content-center mt-3 font-weight-bold">No records found</div>
      <mat-paginator  [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>

  </div>

</div>