
.form-w100 {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field-w100 {
  width: 100%;
}

.table-container {
  min-height: 200px;
  margin: 18px;
  overflow: auto;
  width: 100%;
}

table {
  width: 100%;
}

.m-20{
margin-right: 10px;
}

.mat-header-cell, .mat-sort-header {
background-color: #006891;
color: white;
}


.btn-color {
  background-color: #006891;
  border-color: #006891;
}


.form-w100 {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field-w100 {
  width: 100%;
}

.table-container {
  min-height: 200px;
  margin: 18px;
  overflow: auto;
  width: 100%;
 
}

table {
  width: 100%;
  
}

.m-20{
margin-right: 10px;
}

.mat-header-cell, .mat-sort-header {
background-color: #006891;
color: white;
}

